extends layout

block content
  .app
    h1 How do you feel right now?
    div.emoji
      a(href="#" title="like shit") 💩
      a(href="#" title="I'm so angry!") 😡
      a(href="#" title="meh") 😐
      a(href="#" title="wo-hoow") 😃
      a(href="#" title="like a unicorn") 🦄 
